<ul class="list-group">
    <li class="list-group-item">
        <a href="#">Development</a>
    </li>
    <li class="list-group-item">
        <a href="#">IT & Software</a>
    </li>
    <li class="list-group-item">
        <a href="#">Office Productivity</a>
    </li>
    <li class="list-group-item">
        <a href="#">Photography</a>
    </li>
    <li class="list-group-item">
        <a href="#">Health and Fitness</a>
    </li>
    <li class="list-group-item">
        <a href="#"> Music</a>
    </li>
  
  </ul>